form {
  label {
    font-weight: 500;
    font-style: italic;
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .inputForm {
    &:lastchild {
      cursor: pointer;
    }
    border-radius: 8px;
    font-size: large;
    line-height: 3rem;
    padding-left: 8px;
    margin-top: 8px;
    min-width: 500px;
  }
  textarea {
    border-radius: 8px;
    font-size: large;
    line-height: 4rem;
    padding-left: 8px;
  }
  display: flex;
  flex-direction: column;
  max-width: 600px;
  margin: 0 auto;
  padding: 8px;
}

.sucess,
.error_contactForm {
  width: 400px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 18px;
}

.sucess {
  background: lightgreen;
}

.error_contactForm {
  background: lightcoral;
}
