@import url("https://fonts.googleapis.com/css2?family=Bungee+Spice&family=Edu+SA+Beginner&family=PT+Sans+Narrow:wght@400;700&display=swap");
// font-family: 'Bungee Spice', cursive;
// font-family: 'Edu SA Beginner', cursive;
// font-family: 'PT Sans Narrow', sans-serif;

body {
  background: #f8e8d1;
  font-family: "PT Sans Narrow", sans-serif;
  margin: 0;
}
